/* div{
    border: 1px solid black;
} */

.print {
	border: 1px solid red;
	/* width: 30%; */
}

.over {
	position: relative;
}

.overlay-color {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: rgb(43, 40, 46);
	cursor: pointer;
}

.over:hover .overlay-color {
	opacity: 0.7;
}

.overlay-text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	right: 50%;
	left: 50%;
	bottom: 45%;
	width: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.half-page {
	height: 50vh;
	background: url("../img/about.jpg");
	background-size: cover;
}

/* Header */
.profile-image {
	position: relative;
	z-index: 2;
	/* margin-top: -10px; */
	margin-bottom: 50px;
	border-radius: 50%;
	border: 3px solid white;
	width: 150px;
	height: 150px;
}

/* #about{
	scroll-margin-top: 400px;
} */

#knowledges {
	scroll-margin-top: 65px;
}

#intro {
	position: relative;
	width: 100%;
	height: 1024px;
	color: white;
	background: rgba(28, 36, 65, 0.93);
	background: url("../img/header.jpg");
	background-size: cover;
	/* border: 1px solid red; */
}

#intro .table {
	display: table;
	height: 100%;
}

#intro .container {
	height: 100%;
}

#intro .header-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}

#intro .typed {
	display: inline-block;
	margin: 0;
}

#intro .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 5px;
	color: #00a8ff;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.small-rounded {
	width: 15%;
	height: 10%;
	border-radius: 50%;
	border: 2px solid rgb(255, 0, 64);
	margin: 0;
}

.fixed-top {
	position: fixed !important;
	top: 0 !important;
}

#tech {
	background: url("../img/20.jpg");
	background-size: cover;
}

.scrollable-content {
	overflow: scroll;
}

.full-page {
	height: 100vh;
}

.btn.btn-blue-fill {
	color: #00a8ff;
	border-color: #00a8ff;
	background: transparent;
}

.border-squared {
	/* border: 2px solid #00a8ff; */
	border-radius: 0%;
}

.team {
	margin: 80px 0;
	padding-bottom: 60px;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

.team .cover .overlay {
	height: 250px;
	padding-top: 60px;
	opacity: 0;
	background: rgba(0, 168, 255, 0.9);
	-webkit-transition: opacity 0.45s ease;
	transition: opacity 0.45s ease;
}

.team:hover .cover .overlay {
	opacity: 1;
}

.team .avatar {
	position: relative;
	z-index: 2;
	margin-top: -60px;
	border-radius: 50%;
	width: 50%;
	height: 50%;
}

.team .title {
	margin: 10px 0;
}

.muted {
	color: #989da0;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
}

.footer {
	background: url("../img/footer.jpg");
	background-size: cover;
	/* filter: blur(2px);
	-webkit-filter: blur(2px); */
}

.bg-text {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through*/
	color: white;
	font-weight: bold;
	width: 100%;
	padding: 20px;
	/* filter: ; */
}

.white-border {
	border: 2px solid white;
}

.exp1 {
	background: url(../img/Formation/Uni.jpg);
	background-size: cover;
}

.exp2 {
	background: url(../img/Formation/LibertyPowerBuilding.jpg);
	background-size: cover;
}
.exp3 {
	background: url(../img/Formation/OnlineCourses.png);
	background-size: cover;
}

.card-body {
	background-color: rgb(40, 44, 44);
	opacity: 0.8;
}

.text-white {
	opacity: 1;
}

@media only screen and (min-width: 600px) {
	.responsive-title {
		font-size: 4.5rem;
		font-weight: 300;
		line-height: 1.2;
	}
}

@media only screen and (min-width: 800px) {
	.mobile-experience {
		display: none;
	}
	.project{
		width: 100%;
	}
}

@media only screen and (max-width: 799px) {
	.desktop-experience {
		display: none;
	}
	.project{
		width: 50%;
	}
}

