/* .topcard-presentation {
	padding-bottom: 60px;
	background: white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07); */
    /* background:url(); */
    /* background-image: url("./img/fondo.jpg"); */
    /* background-size: cover; */
    /* border: 2px solid red; */
/* } */
  
.profile-image {
	position: relative;
	z-index: 2;
	margin-top: -400px;
    border-radius: 50%;
    border: 3px solid white; 
}
/*
.topcard-presentation .title{
    margin: 50px 0;
    color: white;
} */

header {
	position: relative;
    width: 100%;
    height: 1024px;
	color: white;
	background: rgba(28, 36, 65, 0.93);
	background: url('./img/header.jpg');
    background-size: cover;
    /* border: 1px solid red; */
}

header .table {
	display: table;
	height: 100%;
}

header .container {
	height: 100%;
}

header .header-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}

header .typed {
	display: inline-block;
	margin: 0;
}

header .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 5px;
	color: #00a8ff;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}



div{
    /* border: 1px solid black; */
}